<div class="center hero-unit">
	<link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet">
  <h1><center><font face= "Segoe Script" color = "blue" >Lịch làm việc nhân viên thực tập</font></center></h1>
</div>

<hr></hr>
<table class=" table table-bordered">
	<tr align = "center" style="font-family: Verdana; font-size: 14pt">
		<th width ='20%'>Họ tên</th>
		<th width ='20%'>Số điện thoại</th>
		<th width ='8%'>Thứ 2</th>
		<th width ='8%'>Thứ 3</th>
		<th width ='8%'>Thứ 4</th>
		<th width ='8%'>Thứ 5</th>
		<th width ='8%'>Thứ 6</th>
		<th width ='8%'>Thứ 7</th>
		<th width ='8%'>CN</th>
	</tr>
	<tr align = "center" style="font-family: Times New Roman; font-size: 14pt">
		<th width ='20%'>Nguyễn Minh Hằng</th>
		<th width ='20%'>0985602257</th>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		
	</tr>
	<tr align = "center" style="font-family: Times New Roman; font-size: 14pt">
		<th width ='20%'>Vũ Đình Thắng</th>
		<th width ='20%'>0123456789</th>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
	</tr>
	<tr align = "center" style="font-family: Times New Roman; font-size: 14pt">
		<th width ='20%'>Trịnh Huy Hoàng</th>
		<th width ='20%'>0123456789</th>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
	</tr>
	<tr align = "center" style="font-family: Times New Roman; font-size: 14pt">
		<th width ='20%'>Mai Văn Đức</th>
		<th width ='20%'>0123456789</th>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
		<td width ='8%' align = "center"><input type="checkbox" ></td>
	</tr>
</table>